<div class="container">
  <div class="col-50">
    <app-widgets-total [widgets]="widgets$ | async"></app-widgets-total>

    <app-widgets-list [widgets]="widgets$ | async"
                      (selected)="selectWidget($event)"
                      (deleted)="deleteWidget($event)">
    </app-widgets-list>
  </div>

  <app-widget-detail class="col-50" [widget]="currentWidget$ | async"
                     (saved)="saveWidget($event)"
                     (cancelled)="reset($event)">
  </app-widget-detail>
</div>
